.navbar-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}
.navbar-container > p{
    font-size: 20px;
}
.nav-links{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
.nav-links > li{
    padding: 0 5px;
}
.social-media-icons > i{
    border: 1px solid white;
    padding: 5px 7px;
    margin: 0 2px;
    border-radius: 3px;
    cursor: pointer;
}