.offer-container{
    padding: 60px 50px 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offers-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
}
.offer-container > p{
    margin-bottom: 30px;
}